html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f6f6f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

*, *::after, *::before {
  box-sizing: inherit;
  font-family: inherit;
}

* p, * span {
  margin: 0;
  filter: drop-shadow(0 10px 12px rgba(0,0,0,0.8));
}

* h1, * h2, * h3 {
  filter: drop-shadow(0 10px 12px rgba(0,0,0,0.8));
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

*::-webkit-scrollbar-track {
  margin-top: 90px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

a:hover, button:hover {
  cursor: pointer;
}

.anchor {
  display: flex;
  align-items: center;
}

.anchor:link, .anchor:visited, .anchor:active, .anchor:focus {
  position: relative;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  filter: drop-shadow(0 10px 12px rgba(0,0,0,0.8));
}

.horizontal-flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-default {
  border: none;
  background-color: transparent;
}

.button-default-bold {
  border: none;
  background-color: transparent;
  font-weight: 800;
  color: #f6f6f6;
}

.interactive-el {
  transition: transform 0.2s;
}

.interactive-el:hover {
  transform: translateY(-4px);
}

.hover-highlight {
  outline: 1px solid rgba(119, 119, 119, 0.4);
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: outline 0.2s, box-shadow 0.2s, transform 0.2s, background-color 0.2s, bottom 0.4s;
}

.hover-highlight:not(.disabled):hover {
  outline-color: rgba(255, 70, 70, 1);
  box-shadow: 0 8px 24px rgba(255, 70, 70, 0.5);
}

.underline-el {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.underline-el::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.underline-el:hover::after {
  width: 100%;
}

.zoomedImg-close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  min-height: 42px;
  width: 42px;
  min-width: 42px;
  border: none;
  border-radius: 50%;
  background-color: #0f0f0f;
}

.zoomedImg-close img {
  height: 20px;
  width: 20px;
  filter: brightness(0) invert(0.9);
}

#zoomedImageOverlay {
  position: fixed;
  inset: 90px 0 0 0 ;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0,0,0,0.4);
  user-select: none;
  overflow: hidden;
}

#zoomedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 6px;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.border-divider {
  border-bottom: 2px solid rgba(119, 119, 119, 0.4);
}

.img-small {
  width: 20px;
  height: 20px;
}

.img-medium {
  width: 24px;
  height: 24px;
}

.img-large {
  width: 32px;
  height: 32px;
}

/* PROJECT COMPONENT */

#project-intro {
  padding: 1rem;
  user-select: none;
}

#project-title-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

#project-intro-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
}

#project-intro-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

#project-intro-text p {
  line-height: 1.5rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#project-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#project-intro-images {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

#project-intro-images button {
  border: none;
  background-color: transparent;
  padding: 0;
}

#project-intro-images button:not(:last-child) {
  margin-bottom: 20px;
}

#project-sub-content {
  display: flex;
  flex-direction: column;
  user-select: none;
}

#project-sub-content h2 {
  margin: 0;
  font-weight: 300;
  margin-bottom: 100px;
  align-self: center;
}

#project-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  grid-template-rows: 2, minmax(250px, 1fr);
  justify-content: center;
  gap: 20px;
}

#project-images button {
  max-width: 100%;
  border: none;
  padding: 2px;
  background-color: transparent;
}