html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f6f6f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

*, *::after, *::before {
  box-sizing: inherit;
  font-family: inherit;
}

* p, * span {
  margin: 0;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
}

* h1, * h2, * h3 {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
}

img {
  user-select: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background-color: transparent;
}

*:hover::-webkit-scrollbar {
  background-color: #0f0f0f;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #ccc;
}

a:hover, button:hover {
  cursor: pointer;
}

.anchor {
  display: flex;
  align-items: center;
  
  &:link, &:visited, &:active, &:focus {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding-bottom: 4px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
  }
}

.horizontal-flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-default {
  border: none;
  background-color: #333;
  color: #f6f6f6;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

  > img {
    filter: brightness(0) invert(0.9);
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    background-color: #444;
  }
}

.button-transparent {
  border: none;
  background-color: transparent;
  color: #f6f6f6;
  font-weight: bold;

  > img {
    filter: brightness(0) invert(0.9);
  }
}

.button-transparent-highlight {
  border: none;
  background-color: transparent;
  transition: outline 0.2s, box-shadow 0.2s, transform 0.2s, bottom 0.4s;

  > img {
    filter: brightness(0) invert(0.9);
  }

  &:not(:disabled):hover {
    background-color: #333;
  }
}

.interactive-el {
  transition: transform 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
}

.underline-el {
  position: relative;
  padding: 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  &:hover::after {
    width: 100%;
  }
}

.outline-highlight {
  outline: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: outline 0.2s, box-shadow 0.2s, background-color 0.2s, transform 0.2s;

  &:hover {
    box-shadow: 0 4px 8px rgba(255, 70, 70, 0.5);
    outline-color: rgb(255, 70, 70);
  }
}

.zoomedImg-close {
  height: 42px;
  min-height: 42px;
  width: 42px;
  min-width: 42px;
  border: none;
  border-radius: 50%;
  background-color: #0f0f0f;
  outline: 1px solid #333;

  &:hover {
    background: #333;
  }

  img {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0.9);
  }
}

#zoomedImageOverlay {
  position: fixed;
  inset: 90px 0 0 0 ;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0,0,0,0.4);
  user-select: none;
  overflow: hidden;
}

#zoomedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 6px;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
  }
}

.border-divider {
  border-bottom: 2px solid rgba(119, 119, 119, 0.4);
}

.img-small {
  width: 20px;
  height: 20px;
}

.img-medium {
  width: 24px;
  height: 24px;
}

.img-large {
  width: 32px;
  height: 32px;
}